.nav-item{
	margin-left: 2vw;

.nav-link
{
	border: none;
	/*background-color: #F0F3F5;*/
	color: black;
	@include btp;
	/*padding:12px;*/
	font-size: 130%;
	/*padding: 15px 32px;*/
	text-decoration: none;
	/*display: inline-block;*/
	cursor: pointer;
	margin-top: -15px;
}
}
.dropdown
{
	width:300px;
}

.dropdown-menu
{
	width:290px;
	@include btp;
	background-color: $bg;
}
@media screen and (min-width: 1000px) and (max-width: 1100px)
{
	.art{
       padding-bottom: 20vh;
	.row
	{
      margin-bottom: 0px;
	}
}
	.dropdown
{
	width:100px;
}
.dropdown-menu
{
	width:100px;
	@include btp;
	background-color: $bg;
}
	.nav-item{
		margin-left: 16vh;
	}
}
@media screen and (min-width: 600px) and (max-width: 1000px)
{
	.art{
       padding-bottom: 30vh;
	.row
	{
      margin-bottom: 80px;
	}
}
	.dropdown
{
	width:120px;
}
.dropdown-menu
{
	width:90px;
	@include btp;
	background-color: $bg;
}
.nav-item{
	margin-left: 5vh;
}


}
.dropdown-menu
{
	width:290px;
	@include btp;
	background-color: $bg;
}